<div class="input-container" id="login">
  <%= form_tag '/login' do %>
    <fieldset class="user-fieldset">
      <h2 class="signup-info">log in</h2>
      <p id="first-input-wrap">
        username: <%= text_field_tag 'user[username]' %>
      </p>
      <p id="second-input-wrap">
        password: <%= password_field_tag 'user[password]' %>
      </p>
      <%= submit_tag 'log in' %>
    </fieldset>
    <% end %>
  </form>
</div>
