<div class="wrap">
<% @connections.each do |connection| %>
<div class="connection">
<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
  <div class="flipper">
    <div class="front">
        <p class="<%= connection.train %>" id="train-line"><b><%= connection.train %></b></p>
    </div>
    <div class="back">
      <p id="connection-text">
      "...<%= connection.message %>"
      <br>

      <!-- <button type="button" class='remove'>delete</button> -->
    </p>
      <BR>
    </div>
  </div>
</div>
</div>
<% end %>
</div>
